/** Body */
body{
	margin: 0;
	color: #6a6f8c;
	background: #c8c8c8;
	font: 600 16px/18px 'Open Sans',sans-serif;
}

/** Effects */
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

/** Center Box for Login */
.login-wrap {
	width: 100%;
	margin: 10px auto 10px auto;
	max-width: 525px;
	position: relative;
}

/** Box Details */
.login-html{
	width: 100%;
	position: relative;
	padding: 50px 70px 50px 70px;
	background: rgba(40,57,101,.9);
	box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

/** Sign In HTML: Box Contanining Username/password/etc.; */
.login-html .sign-in-htm {
	position: relative;
	-webkit-transform: rotateY(0deg);
	        transform: rotateY(0deg);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}

/** Don't display group */
.login-html .sign-in,
.login-form .group .check{
	display: none;
}

/** Labels and Buttons would be uppercase */
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
	text-transform: uppercase;
}

/** Sign In Text */
.login-html .tab {
	font-size: 22px;
	margin-right: 15px;
	padding-bottom: 5px;
	margin: 0 15px 10px 0;
	display: inline-block;
	border-bottom: 2px solid transparent;
}
/** Border */
.login-html .sign-in:checked + .tab {
	color: #fff;
	border-color: #1161ee;
}

/** Div convering sign-in-html */
.login-form{
	min-height: 345px;
	position: relative;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

/** Margin of 15px from bottom for each group(button/label) */
.login-form .group {
	margin-bottom: 15px;
}

/** Display of Button/Labels/Inputs */
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
	width: 100%;
	color: #fff;
	display: block;
}

/** Padding and background of button and input */
.login-form .group .input,
.login-form .group .button {
	border: none;
	padding: 15px 20px;
	border-radius: 25px;
	background: rgba(255, 255, 255, .1);
}
/** Password Security */
.login-form .group input[data-type="password"] {
	text-security: circle;
	-webkit-text-security: circle;
}

/** Font size for label */
.login-form .group .label {
	color: #aaa;
	font-size: 12px;
}

/** Button should show pointer and some effect */
.login-form .group .button {
	background: #1161ee;
	cursor: pointer;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
}

/** Button Changes cover onhover */
.login-form .group .button:hover{
	background: #00308c;
}

/** Icons */
.login-form .group label .icon{
	width: 15px;
	height: 15px;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	background: rgba(255, 255, 255, .1);
}

/** Label before and after */
.login-form .group label .icon:before,
.login-form .group label .icon:after {
	content: '';
	width: 10px;
	height: 2px;
	background: #fff;
	position: absolute;
	-webkit-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
}

/** Label Before Content */
.login-form .group label .icon:before {
	left: 3px;
	width: 5px;
	bottom: 6px;
	-webkit-transform: scale(0) rotate(0);
	        transform: scale(0) rotate(0);
}

/** Label Afer Content */
.login-form .group label .icon:after {
	top: 6px;
	right: 0;
	-webkit-transform: scale(0) rotate(0);
	        transform: scale(0) rotate(0);
}
/** If checked, color */
.login-form .group .check:checked + label {
	color: #fff;
}

/** Background/Before and After of label if checked */
.login-form .group .check:checked + label .icon {
	background: #1161ee;
}
.login-form .group .check:checked + label .icon:before {
	-webkit-transform: scale(1) rotate(45deg);
	        transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
	-webkit-transform: scale(1) rotate(-45deg);
	        transform: scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
	-webkit-transform: rotate(0);
	        transform: rotate(0);
}

/** Seperator */
.hr {
	height: 2px;
	margin: 30px 0 30px 0;
	background: rgba(255,255,255,.2);
}
/** Footer: Forgot Password; */
.foot-lnk {
	text-align: center;
}
